<div class="container">
  <h1 class="construct">En construcción</h1>

  <div class="personal">
    <h1>Espacio personal</h1>
    <h4 *ngIf="user$ | async as user">Te has logeado como <span class="email">{{ user.email }}</span></h4>

    <div>
      <p>
        En futuras versiones de la aplicación podrás gestionar tus contraseñas
        desde este lugar
      </p>
      <p>Para ello sólo tendrás que:</p>
      <ol>
        <div class="flex">
          <div class="flex-item">
            <li class="item-title">Seleccionar un identificador para tu contraseña</li>
            <ul>
              <li>Twitter</li>
              <li>Facebook</li>
              <li>Correo electrónico</li>
              <li>Otros personalizados</li>
            </ul>
          </div>
          <div class="flex-item">
            <li class="item-title">Seleccionar un algortimo para cifrarla</li>
            <ul>
              <li>AES</li>
              <li>DES</li>
              <li>TDES</li>
            </ul>
          </div>
          <div class="flex-item">
            <li class="item-title">
              Empezar a disfrutar de las ventajas de tener tus contraseñas
              guardadas con la máxima seguridad
            </li>
            <ul>
                <li>La contraseñas se guardan cifradas</li>
                <li>Sólo tendrás que copiar la que necesites y estará lista para su uso</li>
                <li>No será visible en ningún momento, ¡Máxima privacidad!</li>
            </ul>
          </div>
        </div>
      </ol>
    </div>
  </div>
</div>

<footer>
    <div
      class="cus-footer bottom-footer py-3"
    >
      <div class="text-center">
        <p class="mb-0 py-2 consolas">
          © CryptoPass - Hashing and Ciphering your texts since 2021
        </p>
      </div>
    </div>
  </footer>
  