.container {
  padding: 3em 0;
}

@media (max-width: 576px) {
  .container {
    padding: 3em 2em;
  }
}

.banner {
  background-color: #ffff00;
  color: black;
  padding: 3em 2em;
  font-size: large;
}

.banner h1,
.consolas {
  font-family: "consolas", "Courier New", Courier, monospace;
}

.upper {
  text-transform: uppercase;
}

.bigger {
  font-size: large;
}

.xbigger {
  font-size: xx-large;
}

.biglabel {
  font-size: larger;
}

.textmat,
.aviso {
  color: #ffff00;
}

.example-full-width {
  width: 100%;
}

.example-radio-button {
  margin: 1em 2em 2em;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.cus-footer {
  background-color: black;
  padding: 0 .5em;
}

@media (min-width: 770px) {
  .first{
    margin: 6vh auto auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 349px) and (min-height:550px) {
  .bottom-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}