<div class="banner text-center consolas">
  <h1 class="xbigger">Algoritmos de cifrado</h1>
  <mat-icon>vpn_key</mat-icon>
  <p>Generador de textos cifrados</p>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div [ngClass]="{ 'first': modocifrado == 2 }">
      <h2 class="consolas">
        Primero, selecciona la acción que quieras realizar
      </h2>
      <div class="radio">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          color="primary"
          [(ngModel)]="modocifrado"
        >
          <mat-radio-button class="example-radio-button" [value]="1">
            Cifrado
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="0">
            Descifrado
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div *ngIf="modocifrado == 1" class="col">
      <h2 class="consolas">
        A continuación, introduce aquí el texto que quieras cifrar y la clave
        para cifrarlo
      </h2>
      <div class="mb-2">
        <mat-form-field class="example-full-width" color="primary">
          <mat-label>Texto a cifrar</mat-label>
          <input
            matInput
            class="biglabel textmat"
            placeholder="Por ejemplo: un secreto que quieras enviar a alguien..."
            [(ngModel)]="textToCipher"
          />
          <button
            mat-button
            *ngIf="textToCipher"
            matSuffix
            mat-icon-button
            (click)="textToCipher = ''; enviadoCipher = false"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="example-full-width" color="primary">
          <mat-label>Clave de cifrado</mat-label>
          <input
            matInput
            type="password"
            class="biglabel textmat"
            placeholder="¡No la olvides! La necesitas para descifrarlo"
            [(ngModel)]="clave"
          />
          <button
            mat-button
            *ngIf="clave"
            matSuffix
            mat-icon-button
            (click)="clave = ''; enviadoCipher = false"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="buttonLogic mb-4">
        <button
          *ngIf="textToCipher && clave"
          mat-raised-button
          color="primary"
          (click)="enviarCipher()"
        >
          Enviar
        </button>
        <p *ngIf="enviadoCipher && textToCipher && clave" class="aviso mt-2">
          ¡Texto recibido!
        </p>
      </div>
      <h2 class="consolas">
        Selecciona uno de las siguientes algoritmos para hacer el cifrado
      </h2>
    </div>
  </div>

  <mat-tab-group
    *ngIf="modocifrado != 2"
    mat-stretch-tabs
    animationDuration="1500ms"
    class="tabgroup mt-3"
  >
    <mat-tab label="AES">
      <mat-card class="mat-card">
        <mat-card-header class="d-flex justify-content-start">
          <mat-card-title>Algoritmo AES</mat-card-title>
          <mat-card-subtitle class="consolas"
            >Algoritmo de cifrado Advanced Encryption
            Standard</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content class="d-flex justify-content-center">
          <app-aes [operation]="modocifrado"></app-aes>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="DES">
      <mat-card class="mat-card">
        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title class="text-center">Algoritmo DES</mat-card-title>
          <mat-card-subtitle class="consolas text-center"
            >Algoritmo de cifrado Data Encryption Standard</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content class="d-flex justify-content-center">
          <app-des [operation]="modocifrado"></app-des>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="TDES">
      <mat-card class="mat-card">
        <mat-card-header class="d-flex justify-content-end">
          <mat-card-title class="text-right">Algoritmo TDES</mat-card-title>
          <mat-card-subtitle class="consolas text-right">
            Algoritmo de cifrado Triple Data Encryption Standard
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="d-flex justify-content-center">
          <app-tdes [operation]="modocifrado"></app-tdes>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>

<footer>
  <div
    class="cus-footer py-3"
    [ngClass]="{ 'bottom-footer': modocifrado == 2 }"
  >
    <div class="text-center">
      <p class="mb-0 py-2 consolas">
        © CryptoPass - Hashing and Ciphering your texts since 2021
      </p>
    </div>
  </div>
</footer>
