<div class="banner text-center consolas">
  <h1 class="xbigger">Algoritmos de cifrado</h1>
  <mat-icon>vpn_key</mat-icon>
  <p>Generador de textos cifrados</p>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col">
      <h2 class="consolas">
        Si deseas cifrar, primero introduce aquí el texto que quieras cifrar y
        la clave para cifrarlo
      </h2>
      <div class="mb-2">
        <mat-form-field class="example-full-width" color="accent">
          <mat-label>Texto a cifrar</mat-label>
          <input
            matInput
            class="biglabel textmat"
            placeholder="Por ejemplo: un secreto que quieras enviar a alguien..."
            [(ngModel)]="textToCipher"
          />
          <button
            mat-button
            *ngIf="textToCipher"
            matSuffix
            mat-icon-button
            (click)="textToCipher = ''; enviadoCipher = false"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="example-full-width" color="accent">
          <mat-label>Clave de cifrado</mat-label>
          <input
            matInput
            type="password"
            class="biglabel textmat"
            placeholder="¡No la olvides! La necesitas para descifrarlo"
            [(ngModel)]="clave"
          />
          <button
            mat-button
            *ngIf="clave"
            matSuffix
            mat-icon-button
            (click)="clave = ''; enviadoCipher = false"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="buttonLogic mb-4">
        <button
          *ngIf="textToCipher && clave"
          mat-raised-button
          class="boton-enviar"
          (click)="enviarCipher()"
        >
          Enviar
        </button>
        <p *ngIf="enviadoCipher && textToCipher && clave">¡Texto recibido!</p>
      </div>
      <h2 class="consolas">
        Selecciona uno de las siguientes algoritmos para hacer el cifrado o el
        descifrado
      </h2>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs animationDuration="1500ms" class="tabgroup mt-3">
    <mat-tab label="AES">
      <mat-card class="mat-card">
        <mat-card-header class="d-flex justify-content-start">
          <mat-card-title>Cifrado y descifrado con AES</mat-card-title>
          <mat-card-subtitle class="consolas"
            >Algoritmo de cifrado Advanced Encryption
            Standard</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content class="d-flex justify-content-center">
          <app-aes></app-aes>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="DES">
      <mat-card class="mat-card">
        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title>Cifrado y descifrado con DES</mat-card-title>
          <mat-card-subtitle class="consolas"
            >Algoritmo de cifrado Data Encryption Standard</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content class="d-flex justify-content-center">
          <app-des></app-des>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="TDES">
      <mat-card class="mat-card">
        <mat-card-header class="d-flex justify-content-end">
          <mat-card-title>Cifrado y descifrado con TDES</mat-card-title>
          <mat-card-subtitle class="consolas">
            Algoritmo de cifrado Triple Data Encryption Standard
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="d-flex justify-content-center">
          <app-tdes></app-tdes>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>

<footer>
  <div class="cus-footer py-3">
    <div class="text-center">
      <p class="mb-0 py-2 consolas">
        © CryptoPass - Hashing and Ciphering your texts since 2021
      </p>
    </div>
  </div>
</footer>
