.container {
  padding: 3em 0;
}

@media (max-width: 576px) {
  .container{
    padding: 3em 2em;
  }
}

.banner {
  background-color: #00ffff;
  color: black;
  padding: 3em 2em;
  font-size: large;
  font-family: "consolas", "Courier New", Courier, monospace;
}

.banner h1 {
  font-size: xx-large;
}

.banner h1,
.consolas {
  font-family: "consolas", "Courier New", Courier, monospace;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-title{
  width: fit-content;
  padding: 0.5em;
  border: 0.5px solid black;
  border-radius: 5px;
  font-size: 2em;
  background-color: #00ffff;
  color: black;
}

.info-title:hover{
  background-color: #0ac9c9;
  color: black;
}

.about-button{
  background-color: #00ffff;
  color: black;
}

.info-text {
  font-size: 1.3em;
}

.img{
  max-width: 100%;
}

.serv-title{
  font-size: large;
}

.service{
  margin: 1em;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgb(71, 71, 71);
}

.service:hover{
  background-color: darkslategray;
}

.service-content{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-s{
  width: 70%;
}

.cus-footer {
  background-color: black;
}