.des {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.radio,
.operations {
  padding: 0 1em;
}

.content {
  margin-left: 1em;
}

.generado {
  display: flex;
  flex-direction: column;
}

.yellow{
  color: #ffff00;
}

.texto,
.botones {
  display: flex;
  justify-content: center;
}

.resbut {
  margin-left: 1em;
}

.fixr {
  justify-content: flex-start;
}

.decrypt {
  display: flex;
  flex-direction: column;
  width: 120%;
}
