<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col col-sm-12 col-10">
        <div class="main-banner-content">
          <h1 class="main-banner-content-header consolas xbigger mb-4">
            CryptoPass -
            <span class="upper">Generador de textos codificados</span>
          </h1>
          <div class="main-banner-content-text">
            <h4 class="consolas bigger">
              Con CryptoPass podrás generar diversos tipos de textos codificados
            </h4>
            <h4 class="consolas bigger">
              Incluye las funciones de resumen:
              <div class="d-flex justify-content-evenly mt-3">
                <span class="banner-types">MD5</span>
                <span class="banner-types">SHA-256</span>
                <span class="banner-types">SHA-512</span>
              </div>
            </h4>
            <h4 class="consolas bigger">
              Incluye las funciones de cifrado:
              <div class="d-flex justify-content-evenly mt-3">
                <span class="banner-types">AES</span>
                <span class="banner-types">DES</span>
                <span class="banner-types">TripleDES</span>
              </div>
            </h4>
          </div>
          <h4 class="consolas bigger">
            Si quieres más información sobre el servicio:
            <div class="d-flex justify-content-center">
              <button
                mat-raised-button
                class="info-button bigger consolas mt-4"
                [routerLink]="['/about']"
              >
                Accede desde aquí
              </button>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-4">
    <div class="title">
      <h1 class="consolas upper recuadro">Funciones Hash</h1>
    </div>
    <div class="row hash-information">
      <div class="col-lg-6 info">
        <h4 class="info-text">
          Las funciones Hash o de resumen son funciones que transforman un
          conjunto de datos en un código alfanumérico con una longitud fija.
          Independientemente de la cantidad de datos que se introduzcan, el
          código resultante tendrá siempre el mismo número de caracteres.
        </h4>
        <h4 class="info-text">
          Entre sus utilidades, destaca la facilidad para comprobar la
          integridad de cualquier texto o mensaje, ya que cualquier alteriación,
          por mínima que sea, provocará un resultado radicalmente distinto.
        </h4>
        <div class="d-flex justify-content-center">
          <button
            mat-raised-button
            class="button mb-3 mt-4"
            [routerLink]="['/hashes']"
          >
            Accede al conversor
          </button>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-center">
        <img
          class="img-big"
          src="./assets/img/hash.jpg"
          alt="Imagen de banner del hash"
        />
      </div>
    </div>
  </div>

  <hr class="mt-4" />

  <div class="row mt-4 mb-4">
    <div class="title">
      <h1 class="consolas upper recuadro">Algoritmos de cifrado</h1>
    </div>
    <div class="row cipher-information">
      <div class="col-lg-6">
        <img
          class="img"
          src="./assets/img/cifrado.png"
          alt="Imagen de banner del cifrado"
        />
      </div>
      <div class="col-lg-6 info">
        <h4 class="info-text">
          Los algoritmos de cifrado hacen uso de una  
          cierta clave para transformar un mensaje, de tal forma 
          que sea incomprensible o, al menos, difícil de comprender, a toda 
          persona que no tenga la clave secreta, o de descifrado, del algoritmo.
        </h4>
        <h4 class="info-text">
          Algunos de sus usos más comunes son el 
          almacenamiento y transmisión de información sensible como 
          contraseñas, números de identificación legal, números de tarjetas 
          de crédito y conversaciones privadas, entre otros.
        </h4>
        <div class="d-flex justify-content-center">
          <button
            mat-raised-button
            class="button mt-2 mb-3"
            [routerLink]="['/cifrados']"
          >
            Accede al cifrador
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="cus-footer py-3">
    <div class="container text-center">
      <p class="mb-0 py-2 consolas">
        © CryptoPass - Hashing and Ciphering your texts since 2021
      </p>
    </div>
  </div>
</footer>
