.main-banner{
    padding-top: 5em;
    padding-bottom: 5em;
    background-image: url(src\assets\img\enc4.jpg);
    background-size: cover;
}

.upper{
    text-transform: uppercase;
}

.consolas{
    font-family: 'consolas', 'Courier New', Courier, monospace;
}

.bigger{
    font-size: large;
}

.xbigger{
    font-size: xx-large;
}

.biglabel{
    font-size: larger;
}

.banner-hash{
    border: 1px solid;
    padding: 0 5px;
}

.banner-hash:hover{
    background-color: chartreuse;
    color: black;
}

.matpan{
    padding: 1rem;
}

.textmat{
    color: #e44e80;
}

.example-full-width {
    width: 90%;
}

.cus-footer{
    background-color: black;
}