.main-banner {
  padding-top: 5em;
  padding-bottom: 3em;
  background-image: url(src\assets\img\enc4.jpg);
  background-size: cover;
}

@media (max-width:600px){
  .col{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.upper {
  text-transform: uppercase;
}

.consolas {
  font-family: "consolas", "Courier New", Courier, monospace;
}

.bigger {
  font-size: large;
}

.xbigger {
  font-size: xx-large;
}
.img-big{
  width: 80%;
}
.img{
  width: 100%;
}

.banner-types {
  margin: .6em 0;
  border: 1px solid;
  padding: 0 5px;
}

.banner-types:hover{
  background-color: #00C853;
  color: black;
}

.button,
.info-button{
  background-color: #00C853;
  color: black;
}

hr{
  color: #00E676;
  height: 2px;
}

.recuadro {
  width: fit-content;
  padding: 0.5em;
  border: 0.5px solid black;
  border-radius: 5px;
  font-size: 2em;
  background-color: #00C853;
  color: black;
}

.recuadro:hover{
  background-color: #33ff33;
  color: black;
}

.hash-information,
.cipher-information{
  border-radius: 10px;
  padding: .5em;
  background-color: #37474F;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
  padding-top: 1em;
}

.info-text {
  font-size: 1.3em;
}

.cus-footer {
  background-color: black;
}
