<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-10">
        <div class="main-banner-content">
          <h1 class="main-banner-content-header consolas xbigger mb-4">
            CryptoPass - <span class="upper">Generador de códigos hash</span>
          </h1>
          <div class="main-banner-content-text">
            <h4 class="consolas bigger">
              Usa CryptoPass para traducir con las principales funciones de
              resumen cualquier texto
            </h4>
            <h4 class="consolas bigger">
              Por el momento tenemos disponible las funciones:
              <div class="d-flex justify-content-evenly mt-1">
                <span class="banner-hash">MD5</span>
                <span class="banner-hash">SHA256</span>
                <span class="banner-hash">SHA512</span>
              </div>
            </h4>
            <h4 class="consolas bigger">
              También tenemos disponible un gestor de contraseñas, para que
              almacenes codificadas tus contraseñas más importantes. Obtén más
              información en el siguiente enlace:
            </h4>
            <div class="d-flex justify-content-evenly">
              <button
                mat-raised-button
                color="primary"
                [routerLink]="['/about']"
              >
                Más información
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col">
      <h1 class="consolas upper">Introduce tu texto</h1>
      <h2 class="consolas">Primero, introduce aquí el texto que quieras convertir</h2>
      <div class="mb-2">
        <mat-form-field class="example-full-width" color="accent">
          <input
            matInput
            class="biglabel textmat"
            placeholder="Por ejemplo: un verso de tu canción favorita, un secreto que quieras enviar a alguien..."
            [(ngModel)]="texto"
          />
          <button
            mat-button
            *ngIf="texto"
            matSuffix
            mat-icon-button
            (click)="texto = '';enviado=false"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button
          *ngIf="texto"
          mat-raised-button
          color="primary"
          (click)="enviar()"
        >
          Enviar
        </button>
        <p *ngIf="enviado && texto">¡Texto recibido!</p>
      </div>
      <h1 class="consolas upper">Funciones Hash</h1>
      <h2 class="consolas">
        A continuación, selecciona una de las siguientes funciones hash para
        hacer la conversión
      </h2>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs animationDuration="1500ms" class="mt-3">
    <mat-tab label="MD5">
      <mat-card class="mat-card">
        <mat-card-header class="d-flex justify-content-start">
          <mat-card-title>Conversión al formato MD5</mat-card-title>
          <mat-card-subtitle class="consolas"
            >Función de resumen muy usada de 128 bits</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content class="d-flex justify-content-start">
          <app-md5></app-md5>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="SHA-256">
      <mat-card class="mat-card">
        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title>Conversión al formato SHA-256</mat-card-title>
          <mat-card-subtitle class="consolas"
            >Función de resumen segura de 256 bits</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content  class="d-flex justify-content-center">
          <app-sha256></app-sha256>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="SHA-512">
      <mat-card class="mat-card">
        <mat-card-header class="d-flex justify-content-end">
          <mat-card-title>Conversión al formato SHA-512</mat-card-title>
          <mat-card-subtitle class="consolas"
            >Función de resumen muy segura de 512 bits</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content class="d-flex justify-content-end">
          <app-sha512></app-sha512>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>

<footer>
  <div class="cus-footer py-3">
    <div class="container text-center">
      <p class="mb-0 py-2 consolas">© CryptoPass - Hashing your texts since 2021 </p>
    </div>
  </div>
</footer>