.tdes {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1em;
}

.radio,
.operations {
  padding: 0 1em;
}

.example-radio-group {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.content {
  margin-left: 1em;
}

.generado {
  display: flex;
  flex-direction: column;
}

.texto,
.botones {
  display: flex;
  justify-content: center;
}

.resbut {
  margin-left: 1em;
}

.fixr {
  justify-content: flex-start;
}

.decrypt {
  display: flex;
  flex-direction: column;
  width: 120%;
  padding-right: 1em;
}
