<div class="tdes">
  <div class="encrypt" *ngIf="operation == 1">
    <div *ngIf="!generado" class="d-flex justify-content-center">
      <button mat-raised-button color="primary" (click)="cipher()">
        Generar texto cifrado
      </button>
    </div>

    <div *ngIf="generado" class="generado">
      <div class="texto">
        <p>
          <span *ngIf="!mostrar">¡Cifrado generado!</span>
          <textarea cols="35" rows="3" *ngIf="mostrar">{{ cifrado }}</textarea>
          <button
            mat-icon-button
            (click)="copyText()"
            matTooltip="Copiar código generado"
            matTooltipPosition="after"
            class="yellow"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </p>
      </div>
      <div class="botones fixr">
        <button
          mat-raised-button
          *ngIf="!mostrar"
          color="primary"
          (click)="mostrar = true"
        >
          Mostrar código
        </button>
        <button
          mat-raised-button
          *ngIf="mostrar"
          color="primary"
          (click)="mostrar = false"
        >
          Ocultar código
        </button>
        <button
          mat-raised-button
          class="resbut"
          color="primary"
          (click)="reset()"
        >
          Reset
        </button>
      </div>
    </div>
  </div>

  <div class="decrypt" *ngIf="operation == 0">
    <mat-form-field color="primary">
      <mat-label>Texto a descifrar</mat-label>
      <input
        matInput
        placeholder="En formato AES..."
        [(ngModel)]="cipherText"
      />
      <button
        mat-button
        *ngIf="textToCipher"
        matSuffix
        mat-icon-button
        (click)="textToCipher = ''; enviadoCipher = false"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-label>Clave de descifrado</mat-label>
      <input
        matInput
        type="password"
        placeholder="Espero que la recuerdes..."
        [(ngModel)]="cipherPass"
      />
      <button
        mat-button
        *ngIf="textToCipher"
        matSuffix
        mat-icon-button
        (click)="textToCipher = ''; enviadoCipher = false"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="desc-button">
      <button mat-raised-button color="primary" (click)="decrypt()">
        Descifrar texto
      </button>
    </div>
    <textarea
      class="mt-3"
      [ngClass]="{'error':error}"
      placeholder="Aquí aparecerá el descifrado"
      readonly
      >{{ descifrado }}</textarea
    >
  </div>
</div>
