.tdes {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1em;
}

.content {
  margin-left: 1em;
}

.generado {
  display: flex;
  flex-direction: column;
}

.yellow{
  color: #ffff00;
}

.texto,
.botones {
  display: flex;
  justify-content: center;
}

.resbut {
  margin-left: 1em;
}

.fixr {
  justify-content: flex-start;
}

.decrypt {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.desc-button{
  display: flex;
  justify-content: center;
}

textarea{
  border-radius: 5px;
}

.error{
  color: tomato;
}