.content{
    margin-right: 1em;
}

.generado{
    display: flex;
    flex-direction: column;
}

.green{
    color: #00ff6a;
}

.texto, .botones{
    display: flex;
    justify-content: center;
}

@media (max-width:400px){
    .botones{
        flex-direction: column;
        align-items: flex-end;
    }

    .botones button{
        margin: 1em 1em 1em 0;
    }
}

.resbut{
    margin-left: 1em;
}

.fixr{
    justify-content: flex-end;
}